.root {
  background-image: url("../components/mars_astronaut_hd.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  padding-top: 100px;
}
.heading {
  color: #fff;
  margin-top: 2rem;
  padding: 1rem 2rem;
  font-size: 3rem;
}
.intro {
  color: #fff;
  max-width: 60vw;
  padding: 0rem 2rem;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

h4 {
  color: rgba(255, 255, 255, 0.856);
  margin-top: 1.4rem;
  padding: 1rem 2rem;
}
.expBtn {
  border: 2px solid white;
  background-color: transparent;
  width: 17rem;
  height: 3.7rem;
  font-size: 1.6rem;
  margin: 2rem 2rem;
  color: #fff;
  transition: all linear 500ms;
  border-radius: 0.7rem;
}
.expBtn:hover {
  background-color: white;
  color: #000;
}
@media screen and (max-width: 780px) {
  .intro {
    max-width: 100vw;
    padding: 0rem 1rem;
    font-size: 1.2rem;
  }
  .heading {
    margin-top: 0rem;
    padding: 1rem 1rem;
    font-size: 1.8rem;
  }
  .expBtn {
    border: 2px solid white;
    background-color: transparent;
    width: 15rem;
    height: 3.7rem;
    font-size: 1.6rem;
    margin: 1rem 1rem;
    color: #fff;
  }

  h4 {
    padding: 0rem 1rem;
  }
}
