.main {
  background-color: #1f1f1f;
  width: 80vw;
  margin-left: 10vw;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.main > h1 {
  margin-bottom: 1rem;
}
.main > p {
  margin-bottom: 1rem;
}
.detailsBtn {
  text-transform: capitalize !important;
  background: transparent !important;
  border: 2px solid #fff !important;
  color: #fff !important;
  font-size: 1rem !important;
  padding: 0.75rem 1.5rem;
}
.detailsBtn:hover {
  color: black !important;
  background: white !important;
  border: none;
}
@media screen and (max-width: 768px) {
  .main {
    background-color: #1f1f1f;
    width: 90vw;
    margin: 0rem 5vw;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }
}
